.btn {
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;

  &:active {
    transform: scale(0.92);
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}
